body {

    padding-top: 50px;
	color: #071A52;

}

.starter-template {

    padding: 40px 15px;
    text-align: center;

}

/* Barre de navigation */
.navbar-inverse {
	background-color: #071A52;
}

.navbar-inverse .navbar-brand {
	color: #17B978;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #17B978;
}

.navbar-inverse .navbar-toggle {
	border-color: white;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #086972;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #086972;
}

.imgItem{

    width: 50px;
    height: 50px;

}

h1, h2, h3 {
	margin-bottom: 20px;
}

h4, h5, h6 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #086972;
}

form{
	display:inline-block;
	margin-right: 10px;
}

img{
	height: 200px;
}